body {
    background-color: #ffffff;
    margin: 0;
}

header {
    background-color: #ffffff;
    padding: 5px 25px 0 25px;
    border-bottom: 2px solid #4171b2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.leftImage {
    float: left;
    width: 45px;
    height: 45px;
    padding: 24px 25px 0 0;
}

.rightImage {
    float: right;
    width: 45px;
    height: 45px;
    padding: 24px 0 0 25px;
}

h1 {
    font: bolder 35px "Pokemon Solid";
    color: black;
    -webkit-text-fill-color: #f7cd46; /* Will override color (regardless of order) */
    -webkit-text-stroke: 2px #4171b2;
    display: inline-block;
}

main {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    padding: 25px;
    border: 2px solid #4171b2;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    height: 750px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.inner-container {
    background-color: white;
    padding: 25px;
    border: 2px solid #4171b2;
    border-radius: 5px;
    margin: auto;
    width: 95%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
}

#fav-container {
    height: 33%;
    box-sizing: border-box;
    overflow-y: auto;
}

#all-container {
    height: 57%;
    box-sizing: border-box;
    overflow-y: auto;
}

h2 {
    display: inline;
    color: black;
    font: bolder 30px "Pokemon Solid";
    -webkit-text-fill-color: #f7cd46;
    -webkit-text-stroke: 2px #4171b2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4171b2;
}

::-webkit-scrollbar-thumb {
    background: #f7cd46;
    border-radius: 5px;
    border: 1.5px solid #4171b2;
}

::-webkit-scrollbar-thumb:hover {
    background: #c3a238;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px 2% 10px 2%;
    padding-top: 12px;
    border: 2px solid #4171b2;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 21%;
    text-align: center;
}

li:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

h3 {
    display: block;
    margin: 0;
    font: bolder 22px "Pokemon Solid";
    -webkit-text-fill-color: #f7cd46;
    -webkit-text-stroke: 2px #4171b2;
}

li img {
}
